@model WebWMS.Models.LocationModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>LocationModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LocState)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LocState)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StateChangeTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StateChangeTime)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.LocationId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
